@font-face {
    font-family: bogart;
    src: url("./fonts/Bogart.ttf");
}

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #dbeafe;
}

#top-bar {
    width: 100%;
    background-color: #60a5fa;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    flex: 0 1 auto;
}

#top-bar > #left {
    display: flex;
    justify-content: left;
    align-items: center;
}

#top-bar > #center > #logo {
    font-family: bogart;
    color: white;
    font-size: 32px;
    font-weight: 600;
    margin: 8px 8px;
}

#top-bar > #center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#top-bar > #right {
    display: flex;
    justify-content: right;
    align-items: center;
}

.icon-button {
    width: 48px;
    height: 48px;
    background-color: transparent;
}

#hamburger-menu {
    background-image: url("./images/menu.svg");
    border: none;
}

#add-task-button {
    background-image: url("./images/plus.svg");
    border: none;
}

#edit-button {
    background-image: url("./images/pencil-outline.svg");
    border: none;
}

#complete-button {
    background-image: url("./images/check-circle-outline.svg");
    border: none;
}

#remove-button {
    background-image: url("./images/trash-can-outline.svg");
    border: none;
}

#content {
    flex: 1 1 auto;
    display: flex;
    height: max-content;
}

#navigator {
    width: min(200px, 25%);
    height: 100%;
    background-color: #f1f5f9;
}

#navigator > ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

#navigator > ul > li > button {
    background-color: transparent;
    border: none;
    color: #1e293b;
}

#navigator h2 {
    text-decoration: underline;
    text-align: center;
    margin-bottom: 0;
}

.navigator-buttons {
    font-size: 16px;
    font-family: sans-serif;
}

#add-list-form {
    display: flex;
    margin-right: 8px;
}

#add-list-form > label {
    flex: 0 0;
}

#add-list-form > input {
    flex: 1 1;
    min-width: 0;
}

#task-area {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex: 1 1;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
    gap: 1rem;
}

.card {
    background-color: #f1f5f9;
    border-radius: 16px;
    width: min(600px, 95%);
    box-shadow: 4px 4px 8px rgb(163, 163, 163);
}

.task-card-grid {
    display: grid;
    align-items: center;
    grid-template-columns: auto 48px 48px;
}

.task-card-grid > #text-area {
    margin: 8px 0 8px 8px;
}

.task-card-grid > #text-area > p {
    margin: 2px 16px;
}

.task-box {
    padding-bottom: 8px;
}

.task-box-form {
    margin: 0px 16px 0px 8px;
}

.full-width {
    width: 100%;
}

.error-message {
    color: red;
    margin: 0px;
}

.banner-header {
    font-family: bogart;
    text-align: center;
    margin: 0px;
    background-color: #60a5fa;
    color: white;
    width: 100%;
    border-radius: 16px 16px 0 0;
}

.task-box > .banner-header {
    margin-bottom: 1rem;
}

.card > div > #task-description {
    resize: none;
}

#urgency-button-container {
    display: flex;
    gap: 8px;
}

.add-task-button {
    background-color: #60a5fa;
    padding: 1rem 2rem;
    width: 8rem;
    border: none;
    border-radius: 16px;
    color: white;
}

@media (max-width: 560px) {
    #navigator {
        width: 100%;
        height: 100%;
        background-color: #f1f5f9;
    }

    .navigator-buttons {
        font-size: 32px;
    }
}